.title {
  color: rgb(77, 208, 151);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 25px;
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: lightgray;
}
.isCorrect {
  background-color: green;
  color: white;
}
.notCorrect {
  background-color: red;
  color: white;
}
.btn {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(196, 190, 190);
  color: white;
}
.icons {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
